.recruiting-banner {
    padding: 0.4em 1em;
    background-color: #3f6da8;
    color: var(--color-progressive-emphasized-extra-hover);
    overflow: hidden;
    border-radius: 8px;
    border: 2px solid var(--border-color-progressive);
    margin: 10px 5px;
    min-height: 150px;
    display: grid;
    place-items: center;
}

.recruiting-banner > div {
    grid-area: 1 / 1;
}


.recruiting-img {
    width: 1px;
    height: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.recruiting-img img {
    position: absolute;
    top: -180px;
    left: -480px;
}

.recruiting-text-container {
    display: flex;
    justify-content: space-between;
	font-size: 150%;
    font-weight: bold;
    align-items: center;
    width: 100%;
    gap: 50%;
}

.recruiting-text {
    z-index: 1;
}

.recruiting-text2 {
	text-align: center;
	max-width: 11em;
}